@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

.navBarChildren {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.tittleConteiner {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.tittleConteiner h1 a {
    text-decoration: none;
    color: blue;
    font-family: 'Climate Crisis', cursive;
    font-size: 40px;
    font-weight: 500;
}

.searchConteiner input{
    padding: .4rem .4rem .4rem 2rem;
    margin-right: 4rem;
    border: 1px solid white;
    border-radius: .2rem;
    background-color: transparent;
    outline: none;
    color: white;
}

.searchIcon {
    color: grey;
    position: absolute;
    margin-top: .4rem;
    margin-left: .6rem;
}

.responsiveSeachIcon {
    display: none;
    font-size: 30px;
    align-items: center;
}

.responsiveIcon {
    margin-right: 1.5rem;
    color: white;
}

@media screen and (max-width: 700px) {
    .searchConteiner {
        display: none;
    }
    .responsiveSeachIcon {
        display: flex;
    }
    
}
